@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  display: block;
  text-align: center;
  color: black;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #2e2e2e;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 900px;
  margin: auto;
  padding: 0 30px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 35px 0;
}

header h1 {
  font-weight: 300;
}

header nav {
  font-size: 13px;
  font-weight: 500;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav .divider {
  font-size: 40px;
  line-height: 30px;
  font-weight: 300;
  color: lightgrey;
}

header .primary {
  background: transparent;
  border: 1px solid #1ea7cb;
  border-radius: 3px;
  padding: 0.5em 0.8em;
  font-size: 17px;
  color: #1ea7cb;
  font-family: "Raleway", sans-serif;
  white-space: nowrap;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .primary:hover {
  background: #1ea7cb;
  color: white;
}

.houses {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (minmax(220px, 1fr)) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.houses .house {
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.houses .house.house--detail {
  grid-column: 1/-1;
}
.houses .house.house--detail img {
  height: 400px;
}
.houses .house img {
  width: 100%;
  display: block;
  height: 130px;
  -o-object-fit: cover;
  object-fit: cover;
}

.houses .house .address {
  padding: 25px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.houses .house .address h2 {
  font-weight: 300;
  text-align: center;
  font-size: 20px;
}

.houses .house .meta {
  background: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px 0;
}

.houses .house .meta .meta-item {
  text-align: center;
  padding: 0 14px;
}

.houses .house .meta .meta-item .label {
  font-size: 13px;
}

.houses .house .meta .meta-item .value {
  font-weight: 500;
}

.houses .house .button-view {
  background: transparent;
  border: none;
  width: 100%;
  color: white;
  background: #1ea7cb;
  padding: 0.9em;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  white-space: nowrap;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */
